.popup {
  position: absolute;
  content: '';
  top:25%;
  left:25%;
  background: #ffffff;
  border: 1px solid #cecece;
  border-top: 2px solid #e62b1e;
  width:840px;
  box-shadow: 0 3px 2px -2px gray;

  @media (max-width: 768px) {
    width:482px;

  }

  &__header { position: relative; }
  &__close {
    position: absolute;
    content: '';
    top:13px;
    right: 15px;
    width: 16px;
    height: 15px;
    border: none;
    &--img {
      position: absolute;
      content: '';
      top:0;
      right: 0;
    }
  }
  &__header--text {
    text-align: center;
    font-family: 'Arial Rounded MT Bold', sans-serif;
    font-size: 31px;
    font-weight: 700;
    line-height: 18px;
    color: #333333;
    padding: 33px 0 35px 0;
  }
  &__body {
    background: #f3f3f3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 60px;

    @media (max-width: 768px) {
      flex-wrap: wrap;
      padding: 40px 90px;

    }
  }

  &__footer {
    padding: 31px 8px 36px 7px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    line-height: 18px;
    color: #666666;
    text-align: center;

    & a {
      font-family: 'Arial', sans-serif;
      color: #000000;
      font-weight: 700;
      padding-left: 5px;
    }
  }

}