doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width')
        link(rel="stylesheet" href="css/main.min.css")
        link(rel="stylesheet" type="text/css" href="../styles/slick.css")
        link(rel="stylesheet" type="text/css" href="../styles/slick-theme.css")
        title Popup

    body
        include sections/popup