.popup
    .popup__header
        button.popup__close
            img.popup__close--img(src="../images/close.jpg" alt="close img")
        .popup__header--text
            | Log in to the Site
        .popup__body
            .col-1-of-2
                button.button.button--fb
                    img.img--facebook(src="../images/vector-smart-facebook.png" alt="facebook")
                    span.btn-text Log in with Facebook
                button.button.button--google
                    img.img--google(src="../images/vector-smart-google+.png" alt="google+")
                    span.btn-text Log in with Google +
            .col-1-of-2.form-block
                form(id="loginform" action="" method="get" role="form")
                    .form-field
                        label(for="login") Login
                        input(id="login" name="email" type="email")
                    .form-field
                        label(for="password") Password
                        input(id="password" name="password" type="password")
                    .form-field
                        input.info-checkbox(id="ship_add" name="remember" type="checkbox")
                        label.info-label-for-checkbox(for="ship_add") Remember me
                    .form-field
                        button.button(id="submit_button" type="submit" value="LogIn") Log in
                        a(href="#") Need help logging in?
        .popup__footer
            | Don't have an account yet?
            a(href="#") Sign up

